 url(https://fonts.googleapis.com/css?family=Indie+Flower);

.navbar-brand {
	font-family: 'Indie Flower', 'Helvetica Neue',Helvetica,Arial,sans-serif, cursive;
	font-size: 30px;
}

.navbar-nav.nav {
	font-size: 18px;
} 

.search-btn {
	margin-top: 5px;
}

.details-icon {
	padding-right: 10px;
}

.well.well-success {
	background-color: #DFF0D8;
}

.well.well-info {
	background-color: #d9edf7;
}

.well > h2 {
	margin-top: 10px;
}

.driver-header {
	padding-right: 15px;
	display: inline;
}

.fa.fa-star {
	font-size: 18px;
	color: #DAA520;
}

.fa.fa-star-o {
	font-size: 18px;
}